.main-body{
  overflow-x: hidden;
}

#background-img{
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.navbar-light .navbar-toggler {
  background-color: orange;
  margin-top: 5% !important;
}
.kachi{
  font-family: 'Spectral SC', serif;
  color: Orange;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: 50%;
}
#image {
  position: relative;
  z-index: 1;
  border-radius: 100%;
  background-color: orange;
  margin-top: 5%;
  border: 5px solid blue;
}
.main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
  position: relative;
  z-index: 1;
  font-family: 'Texturina', serif;
  font-size: 15rem;
  color: orange;
  padding-left: 20%;
}
.main-greet{
  margin-top: 15%;
}
.sub-greet{
  color: Orange;
  font-family: 'Dancing Script', cursive;
}
.header{
  color: whitesmoke;
  font-family: 'Newsreader', serif;
  
  
}
.sub-header, .sub-header-two{
  font-family: 'Newsreader', serif;
  font-family: 'Italiana', serif;
  display: inline;
  color: orange;
}

.sub-header-two {
  color: orangered;
  font-size: 2.4rem !important;
  padding-left: 0;
}

.button-one{
  position: relative;
  font-family: 'Newsreader', serif; 
  border: 2px 2px solid !important;
  font-size: 20px !important;
  z-index: 1;
  margin-top: -20%;
  color: black;
  margin-left: 40% !important;
}

.top{
  width: 100% !important;
  margin-top: 10%;
}
body .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.offcanvas-header{
  background-color: black;
  color: orange !important;
  font-family: 'Spectral SC', serif;
  
}
button.btn-close {
  background-color: orange !important;
}
.nav-link{
  color: black !important;
  background-color: orange;
  font-family: 'Newsreader', serif;
  font-size: 1.2rem;
}
.rule{
  border: 2px solid black;
}






/*---------------------------------------About Me Section-------------------------------------*/

#info{
  position: relative;
  color: orange;
  font-size: 7rem;
  width: 100%;
  margin-top: 5%;
  
}
.info {
  text-align: center;
}
#about-title {
  position: relative;
  font-family: 'Goblin One', cursive;
  font-size: 2.5rem;
}
#about-words{
  position: absolute;
  font-family: 'Texturina', serif;
  font-size: 2rem;
  width: 90%;
  z-index: 1;
  text-align: center;
  padding-left: 5%;

}
.bulb-1, .bulb-2, .bulb-3, .bulb-4{
  position: relative;
  font-size: 0.6rem;
  z-index: -1;
  margin-left: 5%;
  margin-right: 15%;
}
.bulb-2, .bulb-4{
  text-align: right !important;
  margin-left: -10% !important;
  margin-right: 10% !important;
}


/*---------------------------------------WEB TECHNOLOGIES-------------------------------------------------*/
 
.webTechArea{
  position: relative;
  margin-top: 20%;
  
}

.webTechTitle {
  position: relative;
  background-color: black;
  color: orange;
  font-size: 3rem;
  text-align: center;
  font-family: 'Newsreader', serif;
  font-weight: bolder;
  margin-top: 1%;                                                                                                                                                                     
}

#webTechIconOne,#webTechIconTwo{
  font-size: 4rem;
  color: orange;

}

.cards{
 margin-top: 15%;
 margin-left: 5%;
}
.card-body{
  height: 5% !important;
}

#card-img{
  height: 50%;
  border: 5px solid orange;
}

.card-groups{
  background-color: lightgrey;
  padding-bottom: 5%;
} 




/*------------------------------------Conctact Me ---------------------------------*/

.contactMe{
  width: 100vw;
  height: 6rem;
  font-size: 3rem !important;
  font-family: 'Texturina', serif;
}





/*-------------------------------------------Footer--------------------------------------*/

.footDiv{
  background-color: #000;
  width: 100vw;
  height: 30rem;
  text-align: center;
}
.footOne, .footFace, .footThree{
  position: relative;
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Texturina', serif; 
  width: 90%;
  margin-left: 4%;
  padding-top: 6%;
  
}
.footFace, .footThree{
  padding-top: 0%;
  font-size: 3rem;
}
#what, #face{
  color: green;
  font-size: 4rem;
  padding-left: 2%;
}
#face{
  color: blue;
}

.footThree{
  font-size: 1.5rem;
  color: whitesmoke;
}



/*----------------------------------Samsung Galaxy8+--------------------------------*/
@media only screen and 
(min-device-width: 360px)
and
(max-device-width: 740px){

  .main-body{
    overflow-x: hidden;
    padding-right: 0;
    margin-right: 0;
  }
  .kachi{
    font-size: 1.5rem !important;
  }

  .navbar-light .navbar-toggler {
    margin-right: 2% !important;
  }
  #image {
    width: 90%;
    margin-left: 5%;
    margin-top: 5rem;
  }
  .button-one {
    margin: 7% 0% 0% 32% !important ;
  }
  .main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
    padding-left: 10%;
    font-size: 2.5rem !important;
    padding-top: 3%;
  }
  .sub-header, .sub-header-two{
    font-size: 1.5rem !important;
    padding-top: 5rem;
  }
  .sub-header-two{
    padding: 0%;
  }
  #background-img{
    height: 113vh;
  }


  /*----------------------------------------About Samsung Galaxy S8+--------------------------------------------*/

  #info {
    font-size: 6rem;
    margin-top: 10%;
}
  #about-words{
    font-size: 1.6rem !important;
    width: 95%;
  }

  /*------------------------------WebTech Area Extra Samsung Galaxy S8+--------------------*/

  .webTechTitle {
    font-size: 2rem; 
    margin-top: 5%                                                                                                                                                                 
  }
  
  #webTechIconOne,#webTechIconTwo{
    font-size: 3rem;
  }
  .cards{
    margin-left: 11%;
   }

   .card-body{
    height: 8rem !important;
  }

  /*------------------------------------Conctact Me Extra Samsung Galaxy S8+---------------------------------*/

.contactMe{
  width: 100vw;
  height: 5rem;
  font-size: 2rem !important;
  font-family: 'Texturina', serif;
}


/*--------------------------------------Footer Extra Samsung Galaxy S8+----------------------------------*/

.footOne, .footFace, .footThree{
  position: relative;
  top: 5%;
  font-size: 1.4rem;
}

}






/*------------------------------------Iphone SE ----------------------------------*/

@media only screen and 
(min-device-width: 375px)
and
(max-device-width: 667px){

  .main-body{
    overflow-x: hidden;
    padding-right: 0;
    margin-right: 0;
  }
  .kachi{
    font-size: 1.5rem;
  }

  .navbar-light .navbar-toggler {
    margin-right: 2% !important;
  }
  #image {
    width: 90%;
    margin-left: 5%;
  }
  .button-one {
    margin: 7% 0% 0% 32% !important ;
  }
  .main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
    padding-left: 10%;
    font-size: 2.5rem !important;
  }
  .sub-header, .sub-header-two{
    font-size: 1.5rem !important;
  }
  .sub-header-two{
    padding: 0%;
  }
  #background-img{
    height: 113vh;
  }
}
  


  /*---------------------------------------- About Iphone SE--------------------------------------------*/

  #info {
    font-size: 6rem;
    margin-top: 10%;
}
  #about-words{
    font-size: 1.6rem !important;
    width: 95%;
  }

  /*------------------------------WebTech Area Extra Iphone SE--------------------*/

  .webTechTitle {
    font-size: 2rem; 
    margin-top: 5%                                                                                                                                                                 
  }
  
  #webTechIconOne,#webTechIconTwo{
    font-size: 3rem;
  }
  .cards{
    margin-left: 11%;
   }

   .card-body{
    height: 8rem !important;
  }

  /*------------------------------------Conctact Me Extra Iphone SE---------------------------------*/

.contactMe{
  width: 100vw;
  height: 5rem;
  font-size: 2rem !important;
  font-family: 'Texturina', serif;
}


/*--------------------------------------Footer Extra Iphone SE----------------------------------*/

.footOne, .footFace, .footThree{
  position: relative;
  top: 5%;
  font-size: 1.4rem;
}


/*---------------------------------------Iphone 12 Pro----------------------------------*/


@media only screen and 
(min-device-width: 390px)
and
(max-device-width: 844px){

  .kachi{
    font-size: 1.8rem;
  }
  .button-one {
    width: 55%;
    font-size: 30px !important;
    margin: 18% 0% 0% 24% !important ;
  }
  .main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
    padding-left: 10%;
    font-size: 2.8rem !important;
    padding-top: 2%;
  }
  .sub-header, .sub-header-two{
    padding-top: 5% !important;
    font-size: 2rem !important;
  }
  .sub-header-two{
    padding-left: 0% !important;
  }

  #background-img{
    height: 105vh;
  }
  #image {
    top: 1.5rem !important;
  }


  /*-------------------------About Me Iphone 12 Pro-------------------------------*/

  #info {
    font-size: 7rem;
    margin-top: 10%;
}
  #about-words{
    font-size: 1.8rem !important;
    width: 95%;
  }

  /*------------------------------WebTech Area Iphone 12 Pro--------------------*/

  .webTechTitle {
    font-size: 2rem; 
    margin-top: 5%                                                                                                                                                                 
  }
  
  #webTechIconOne,#webTechIconTwo{
    font-size: 3rem;
  }
  .cards{
    width: 20rem !important;
    margin-left: 9%;
   }

   .card-body{
    height: 8rem !important;
  }

  /*------------------------------------Conctact Me Iphone 12 Pro---------------------------------*/

.contactMe{
  width: 100vw;
  height: 5rem;
  font-size: 2rem !important;
  font-family: 'Texturina', serif;
}


/*--------------------------------------Footer Iphone 12 Pro----------------------------------*/

.footOne, .footFace, .footThree{
  position: relative;
  top: 5%;
  font-size: 1.4rem;
}







/*-----------------------------------------------Iphone XR -----------------------------------*/

@media only screen and 
(min-device-width: 414px)
and
(max-device-width: 896px){

  .button-one {
    width: 55%;
    font-size: 30px !important;
    margin: 20% 0% 0% 24% !important ;
  }


  /*-------------------------About Me Iphone XR-------------------------------*/

  #info {
    margin-top: 15%;
}

  /*------------------------------WebTech Area Iphone XR--------------------*/
  .cards{
    width: 20rem !important;
    margin-left: 11%;
   }

}
}