.main-body{
  overflow-x: hidden;
}

#background-img{
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.navbar-light .navbar-toggler {
  background-color: orange;
  margin-top: 5% !important;
}
.kachi{
  font-family: 'Spectral SC', serif;
  color: Orange;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: 50%;
}
#image {
  position: relative;
  z-index: 1;
  border-radius: 100%;
  background-color: orange;
  margin-top: 5%;
  border: 5px solid blue;
}
.main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
  position: relative;
  z-index: 1;
  font-family: 'Texturina', serif;
  font-size: 15rem;
  color: orange;
  padding-left: 20%;
}
.main-greet{
  margin-top: 15%;
}
.sub-greet{
  color: Orange;
  font-family: 'Dancing Script', cursive;
}
.header{
  color: whitesmoke;
  font-family: 'Newsreader', serif;
  
  
}
.sub-header, .sub-header-two{
  font-family: 'Newsreader', serif;
  font-family: 'Italiana', serif;
  display: inline;
  color: orange;
}

.sub-header-two {
  color: orangered;
  font-size: 2.4rem !important;
  padding-left: 0;
}

.button-one{
  position: relative;
  font-family: 'Newsreader', serif; 
  border: 2px 2px solid !important;
  font-size: 20px !important;
  z-index: 1;
  margin-top: -20%;
  color: black;
  margin-left: 40% !important;
}

.top{
  width: 100% !important;
  margin-top: 10%;
}
body .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.offcanvas-header{
  background-color: black;
  color: orange !important;
  font-family: 'Spectral SC', serif;
  
}
button.btn-close {
  background-color: orange !important;
}
.nav-link{
  color: black !important;
  background-color: orange;
  font-family: 'Newsreader', serif;
  font-size: 1.2rem;
}
.rule{
  border: 2px solid black;
}






/*---------------------------------------About Me Section-------------------------------------*/

#info{
  position: relative;
  color: orange;
  font-size: 7rem;
  width: 100%;
  margin-top: 5%;
  
}
.info {
  text-align: center;
}
#about-title {
  position: relative;
  font-family: 'Goblin One', cursive;
  font-size: 2.5rem;
}
#about-words{
  position: absolute;
  font-family: 'Texturina', serif;
  font-size: 2rem;
  width: 90%;
  z-index: 1;
  text-align: center;
  padding-left: 5%;

}
.bulb-1, .bulb-2, .bulb-3, .bulb-4{
  position: relative;
  font-size: 0.6rem;
  z-index: -1;
  margin-left: 5%;
  margin-right: 15%;
}
.bulb-2, .bulb-4{
  text-align: right !important;
  margin-left: -10% !important;
  margin-right: 10% !important;
}


/*---------------------------------------WEB TECHNOLOGIES-------------------------------------------------*/
 
.webTechArea{
  position: relative;
  margin-top: 20%;
  
}

.webTechTitle {
  position: relative;
  background-color: black;
  color: orange;
  font-size: 3rem;
  text-align: center;
  font-family: 'Newsreader', serif;
  font-weight: bolder;
  margin-top: 1%;                                                                                                                                                                     
}

#webTechIconOne,#webTechIconTwo{
  font-size: 4rem;
  color: orange;

}

.cards{
 margin-top: 15%;
 margin-left: 5%;
}
.card-body{
  height: 5% !important;
}

#card-img{
  height: 50%;
  border: 5px solid orange;
}

.card-groups{
  background-color: lightgrey;
  padding-bottom: 5%;
} 




/*------------------------------------Conctact Me ---------------------------------*/

.contactMe{
  width: 100vw;
  height: 6rem;
  font-size: 3rem !important;
  font-family: 'Texturina', serif;
}





/*-------------------------------------------Footer--------------------------------------*/

.footDiv{
  background-color: #000;
  width: 100vw;
  height: 30rem;
  text-align: center;
}
.footOne, .footFace, .footThree{
  position: relative;
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Texturina', serif; 
  width: 90%;
  margin-left: 4%;
  padding-top: 6%;
  
}
.footFace, .footThree{
  padding-top: 0%;
  font-size: 3rem;
}
#what, #face{
  color: green;
  font-size: 4rem;
  padding-left: 2%;
}
#face{
  color: blue;
}

.footThree{
  font-size: 1.5rem;
  color: whitesmoke;
}





/*------------------------------------Extra Small devices ----------------------------------*/

@media only screen and (Max-width: 600px){

  .main-body{
    overflow-x: hidden;
    padding-right: 0;
    margin-right: 0;
  }

  .navbar-light .navbar-toggler {
    margin-right: 2% !important;
  }
  #image {
    width: 90%;
    margin-left: 4%;
  }
  .button-one {
    margin: 5% 0% 0% 32% !important ;
  }
  .main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
    padding-left: 10%;
    font-size: 2.5rem !important;
  }
  .sub-header, .sub-header-two{
    font-size: 1.5rem !important;
  }
  .sub-header-two{
    padding: 0%;
  }
  #background-img{
    height: 111vh;
  }


  /*-------------------------About Me Extra Small Devices-------------------------------*/

  #info {
    font-size: 5rem;
    margin-top: 10%;
}
  #about-words{
    font-size: 1.1rem;
    width: 95%;
  }

  /*------------------------------WebTech Area Extra Small Devices--------------------*/

  .webTechTitle {
    font-size: 2rem; 
    margin-top: 5%                                                                                                                                                                 
  }
  
  #webTechIconOne,#webTechIconTwo{
    font-size: 3rem;
  }
  .cards{
    margin-left: 10%;
   }

   .card-body{
    height: 10rem !important;
  }


  /*------------------------------------Conctact Me Extra Small Devices---------------------------------*/

.contactMe{
  width: 100vw;
  height: 5rem;
  font-size: 2rem !important;
  font-family: 'Texturina', serif;
}


/*--------------------------------------Footer Extra Small Devices----------------------------------*/

.footOne, .footFace, .footThree{
  font-size: 1.4rem;
}

}




/*-----------------------------------Small Devices-----------------------------------------*/
@media only screen and (Max-width: 823px){

  .kachi{
    font-size: 1.3rem;
  }
  /* .navbar-light .navbar-toggler {
    margin-right: 13% !important;
  } */
  /* .button-one {
    margin: 5% 0% 0% 34% !important ;
  } */
  /* .main-greet, .sub-greet, .header, .sub-header, .sub-header-two{
    font-size: 1.8rem !important;
  }
  .sub-header-two{
    font-size: 1.7rem !important;
    padding-left: 0;
  } */

  #image {
    width: 88%;
    margin-left: 5%;
}


  /*-------------------------About Me Small Devices-------------------------------*/

  #about-words{
    font-size: 1.5rem;
  
  }

  /*------------------------------WebTech Area Small Devices--------------------*/

  .webTechTitle {
    font-size: 2rem;                                                                                                                                                                   
  }
  
  #webTechIconOne,#webTechIconTwo{
    font-size: 3rem;
  }
  .cards{
    margin-left: 10%;
   }

   .card-body{
    height: 10rem !important;
  }


  /*------------------------------------Conctact Me Small Devices---------------------------------*/

.contactMe{
  width: 100vw;
  height: 5rem;
  font-size: 2rem !important;
  font-family: 'Texturina', serif;
}


/*--------------------------------------Footer Small Devices----------------------------------*/

.footOne, .footFace, .footThree{
  font-size: 1.4rem;
}


  
  
}

































/* font-family: 'Dancing Script', cursive;
font-family: 'Goblin One', cursive;
font-family: 'Newsreader', serif;
font-family: 'Pacifico', cursive;
font-family: 'Texturina', serif; 
*/

/* font-family: 'Italiana', serif;
font-family: 'Shrikhand', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Spectral SC', serif;  */